/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&amp;display=swap'); */

body {
  color: #272727;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  min-height: 100%;
  margin: 0;
}
