.main {
  max-width: 1200px;
  margin: 0 auto;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media all and (max-width: 500px) {
  .filter-container {
    flex-direction: column;
  }
}
