.main {
  max-width: 1200px;
  margin: 0 auto;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-card-enter {
  opacity: 0;
  transform: translateY(20px);
}

.game-card-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.game-card-exit {
  opacity: 1;
  transform: translateY(0);
}

.game-card-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}

@media all and (max-width: 500px) {
  .filter-container {
    flex-direction: column;
  }
}
