.game-image {
  height: auto;
  max-width: 100%;
  display: block;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.card-content {
  padding: 1rem;
  background: rgb(250, 250, 250);
  flex-grow: 1;
  width: 100%;
}

.card-title {
  color: #2137fc;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card-text {
  color: #000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.heart {
  width: 40px;
  cursor: pointer;
  filter: invert(55%) sepia(12%) saturate(10%) hue-rotate(7deg) brightness(90%) contrast(91%);
}

.heart-active {
  width: 40px;
  cursor: pointer;
  filter: invert(15%) sepia(100%) saturate(3636%) hue-rotate(339deg) brightness(91%) contrast(97%);
}

.icon-box input[type='radio'] {
  display: none;
}

.star {
  cursor: pointer;
}
