.search-header {
  margin: 10px;
  padding: 5px;
  flex: 3;
}

.search-box {
  width: 100%;
  height: 50px;
  border: 10px solid #1976d2;
  outline: none;
  border-radius: 5px;
}

.search-box:focus {
  color: #000;
  font-size: large;
  padding: 5px;
}
