.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
}

.header button {
  display: inline-block;
  height: 50px;
  width: 100px;
  align-self: center;
}

@media all and (max-width: 800px) {
  .header {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .header {
    flex-direction: column;
  }
}
