.heart {
  width: 30px;
  cursor: pointer;
  filter: invert(55%) sepia(12%) saturate(10%) hue-rotate(7deg) brightness(90%) contrast(91%);
}

.heart-active {
  width: 30px;
  cursor: pointer;
  filter: invert(15%) sepia(100%) saturate(3636%) hue-rotate(339deg) brightness(91%) contrast(97%);
}
