@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&amp;display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #a3def9;
}

body {
  color: #272727;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  min-height: 100%;
}
